:root {
    /* LAYOUT */

    --header-height: 3rem;
}

#root {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.maplibregl-popup-tip {
    display: none;
}